body, html {
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
}

body {
    position: relative;
    background-color: burlywood;
    color:white;
    font-family:monospace;
    font-size:20px;
}

.container {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:nowrap;
    flex-flow:row;
    align-items: center;
    width:100%;
    height:100%;
}
h1 {
    font-size:1.6em;
}
.button {
  outline:none;
  width:100%;
  height:100%;
  background-color:rgb(255, 255, 255, 0);
  border:none;
  margin:0;
  padding:0;
  border-radius:30px;
  z-index:9999;
}

.button:hover {
  border-radius:30px;
  background-color:gray;
}
.row {
  display:flex;
  flex-flow:row;
  justify-content:center;
  align-items:stretch;
  width:100%;
  height:5.263%;
  margin:0;
 
}
.cell {
  border:0px solid green;
  width:100%;
}
.row {
  width:600px;
}
.area {
    background-color: burlywood; 
    width:600px;
    height:600px;
    border: 3px solid black;
    padding: 10px;
}

.player {
    height:100%;
    width:15%;
    display:flex;
    justify-content:center;
    flex-flow: column;
    align-items:center;
    background-color:burlywood;
}
#player1 {
    color:white;
}
#player2 {
    color:black;
}

#cellIMG {
  width:100%;
}

.btn {
  width:7em;
  height:2.5em;
  border:none;
  font-family:cursive;
}

#p1Btn, #p1Rest{
  background-color:white;
  color:black;
}
#p2Btn, #p2Rest {
  background-color:black;
  color:white;
}

.end {
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
}

 .banner { position: absolute; z-index: 9999; padding: .75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent; border-radius: .25rem; display: none; } .banner.active { display: block; } .banner-bottom { left: 0; right: 0; bottom: 10px; } .banner-top { left: 0; right: 0; top: 10px; } .banner-right { right: 10px; bottom: 10%; min-height: 10vh; } .banner-left { left: 10px; bottom: 10%; min-height: 10vh; } .alert-primary { color: #004085; background-color: #cce5ff; border-color: #b8daff; } .banner-close { position: absolute; right: 1.5%; } .banner-close:after { position: absolute; right: 0; top: 50%; content: 'X'; color: #69f; }